<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista Familia</title>
</head>
<body>
    <h1>Familiares</h1>
    <table>
        <thead>
          <tr>
            <th>#</th>
            <th>Nombre</th>
            <th>Edad</th>
            <th>Fecha</th>
          </tr>
        </thead>
      
          {% for instance in data %}
          <tr>
            <td>{{instance.pk}}</td>
            <td>{{instance.fields.nombre}}</td>
            <td>{{instance.fields.edad}}</td>
            <td>{{instance.fields.fecha}}</td>
          </tr>  
          {% endfor %}  
        </table>   
      
</body>
</html>